<ul class="nav" id="mobile-nav">
  <li>
    <a href="<%= url_for root_path %>"><i class="icon-home icon-white"></i> Accueil</a>
  </li>
  <li>
    <a href="<%= url_for items_path %>"><i class="icon-list icon-white"></i> Mes Objets</a>
  </li>
  <li>
    <a href="<%= url_for friends_path %>"><i class="icon-user icon-white"></i> Mes contacts</a>
  </li>

  <!--<li class="dropdown">-->
    <!--<a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-list-alt icon-white"></i> Forms-->
      <!--<b class="caret"></b></a>-->
    <!--<ul class="dropdown-menu">-->
      <!--<li><a href="index.php?uid=1&amp;page=form_elements">Form elements</a></li>-->
      <!--<li><a href="index.php?uid=1&amp;page=form_extended">Extended form elements</a></li>-->
      <!--<li><a href="index.php?uid=1&amp;page=form_validation">Form Validation</a></li>-->
    <!--</ul>-->
  <!--</li>-->

</ul>