<div class="sidebar">
  <div class="antiScroll">
    <div class="antiscroll-inner">
      <div class="antiscroll-content">
        <div class="sidebar_inner">
          <form action="search_page.html" class="input-append" method="post">
            <input autocomplete="off" name="query" class="search_query input-medium" size="16" type="text" placeholder="Search..."/>
            <button type="submit" class="btn"><i class="icon-search"></i></button>
          </form>
          <div id="side_accordion" class="accordion">

            <div class="accordion-group">
              <div class="accordion-heading">
                <a href="#collapseOne" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
                  Section
                </a>
              </div>
              <div class="accordion-body collapse" id="collapseOne">
                <div class="accordion-inner">
                  <ul class="nav nav-list">
                    <li><a href="javascript:void(0)">Side menu</a></li>
                    <li><a href="javascript:void(0)">Side menu</a></li>
                    <li><a href="javascript:void(0)">Side menu</a></li>
                    <li><a href="javascript:void(0)">Side menu</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a href="#collapseTwo" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
                  Section
                </a>
              </div>
              <div class="accordion-body collapse" id="collapseTwo">
                <div class="accordion-inner">
                  <ul class="nav nav-list">
                    <li><a href="javascript:void(0)">Side menu</a></li>
                    <li><a href="javascript:void(0)">Side menu</a></li>
                    <li><a href="javascript:void(0)">Side menu</a></li>
                    <li><a href="javascript:void(0)">Side menu</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a href="#collapseThree" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
                  Section
                </a>
              </div>
              <div class="accordion-body collapse" id="collapseThree">
                <div class="accordion-inner">
                  <ul class="nav nav-list">
                    <li><a href="javascript:void(0)">Side menu</a></li>
                    <li><a href="javascript:void(0)">Side menu</a></li>
                    <li><a href="javascript:void(0)">Side menu</a></li>
                    <li><a href="javascript:void(0)">Side menu</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a href="#collapseFour" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
                  Section
                </a>
              </div>
              <div class="accordion-body collapse in" id="collapseFour">
                <div class="accordion-inner">
                  <ul class="nav nav-list">
                    <li><a href="javascript:void(0)">Side menu</a></li>
                    <li><a href="javascript:void(0)">Side menu</a></li>
                    <li><a href="javascript:void(0)">Side menu</a></li>
                    <li><a href="javascript:void(0)">Side menu</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>